.sideBar{
  background-color: rgb(33, 17, 126);
  width: 20%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.links{
  margin-top: 65%;
}

.links .link{
  color: aliceblue;
}
