body, html {
  height: 100%;
}

html, body, #app, #app>div {
  height: 100%;
}

.bg-image {
  /* The image used */
  background-image: url("https://i.imgur.com/Alx5Vcs.jpg");

  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);

  /* Full height */
  height: 100%;
  min-height: 100vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Position text in the middle of the page/image */
.bg-text {
  background-color: rgb(0, 0, 0);
  background-color: rgba(228, 213, 213, 0.212);
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 380px;
  padding: 40px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.bg-text > p {
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-shadow: 1px 1px #00000050;
}


.button-login {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  width: 100%;
  font-weight: bold;

}

.button2-login {
  background-color: #008CBA;
  cursor: pointer;
  border-radius: 5px;
}

.button2-login:hover {
  background-color: #60c4dc;
}
