body, html {
    height: 100%;
  }
  
  html, body, #app, #app>div {
    height: 100%;
  }

  * {
    box-sizing: border-box;
  }
  
  .bg-image {
    /* The image used */
    background-image: url("../../resources/images/fondo5.jfif");
  
    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);
  
    /* Full height */
    height: 100%;
    min-height: 100vh; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  /* Position text in the middle of the page/image */
  .bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(228, 213, 213, 0.212); /* Black w/opacity/see-through */
    color: white;
    /*font-weight: bold;
    border: 3px solid #f1f1f1;*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 28%;
    padding:40px;
    text-align: center;
    box-shadow:0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)
  }

  .bg-text > p {
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    width: 100%;
    font-weight: bold;
  }

  .button2 {background-color: #008CBA;} /* Blue */