* {
  font-family: Helvetica, sans-serif;
  margin: 0px;
}

html,
body {
  height: 100vh;
  width: 100vw !important;
}

main {
  width: 100%;
}

.mt-5 {
  margin-top: 20px;
}

.mb-5 {
  margin-bottom: 20px;
}

.mt-3 {
  margin-top: 10px;
}

.mb-3 {
  margin-bottom: 10px;
}

.mt-1 {
  margin-top: 5px;
}

.ml-3 {
  margin-left: 10px;
}

.mb-1 {
  margin-bottom: 5px;
}

.pt-5 {
  padding-top: 20px;
}

.pb-5 {
  padding-bottom: 20px;
}

.pt-3 {
  padding-top: 10px;
}

.pb-3 {
  padding-bottom: 10px;
}

.pt-1 {
  padding-top: 5px;
}

.pb-1 {
  padding-bottom: 5px;
}

.m-1 {
  margin: 3px;
}

.p-1 {
  padding: 3px;
}

.m-2 {
  margin: 5px;
}

.p-2 {
  padding: 5px;
}

.m-3 {
  margin: 10px;
}

.p-3 {
  padding: 10px;
}

.m-5 {
  margin: 20px;
}

.p-5 {
  margin: 20px;
}

.w-6 {
  width: 60%;
  margin: auto 20%;
}

.pointer {
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.d-block {
  display: block;
}

.small {
  font-size: 0.8rem;
}

.bold {
  font-weight: 600;
}

.text {
  width: 100%;
  text-align: center;
}

.trainings__input {
  width: 80%;
}

.trainings__main-container {
  width: 100%;
}

.trainings__form {
  padding: 10px;
}

.training__input-form {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.training__select-form {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
}

.training__output-form {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.training__input-form-name {
  justify-content: space-evenly;
}

.section__title {
  display: block;
}

.section__decoration {
  content: "";
  display: block;
  width: 400px;
  height: 5px;
  background: #40bad5;
  margin: 20px auto 30px;
}

.trainings__select-input {
  border: none;
  border-bottom: 2px solid black;
  font-size: 1em;
  padding: none;
  margin: none;
  padding: 15px;
  width: 90%;
  height: 100%;
}

.trainings__input-coaches {
  margin-bottom: -36px;
  height: 57px;
}

.trainings__date-input {
  width: 70%;
}

.trainings__btn-submit {
  width: 120px;
  height: 38px;
  background-color: #0d6efd;
  color: white;
  border: 2px solid transparent;
  border-radius: 3px;
}

.trainings__btn-submit:focus {
  outline: none;
  border: 1px solid white;
}

.training__categoria,
.training__starting-date {
  width: 300px;
}

.trainings__input {
  border: none;
  border-bottom: 2px solid black;
  font-size: 1.5em;
  padding: 10px;
}

.training__input-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
}

.trainings__input-label {
  padding: 15px 0px;
  font-size: 1.2em;
}

.training__btn-upload {
  padding: 15px;
}

.training__coach-selected {
  min-width: 300px;
  overflow-wrap: wrap;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-delete-coach {
  width: 20%;
}

.training__alert-primary {
  width: 60%;
  margin: auto 20%;
}

.porfolio__tech-images {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

.training__tech-image {
  width: 10%;
  margin: 20px 5px;
}

.screen-container {
  display: flex;
  flex-direction: column;
}

.btn-new-traning {
  width: 30%;
  margin: auto 35%;
}

.title-container {
  width: 80%;
  margin: 10px 10%;
}

.training__csv-div {
  display: flex;
  flex-direction: column;
}

.training__file-input {
  padding-top: 100px;
  width: 100%;
  margin: auto auto;
  height: 120px;
  margin-top: 0%;
  padding: 0px;
}

.btn-new-traning {
  margin: 20px auto;
  position: absolute;
  top: 30px;
  right: 20px;
  width: 20%;
}
