.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.program-name-container {
  width: 100%;
  /* border: 1px solid green; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
  text-transform: capitalize;
  text-align: center;
  padding: 2px;
  border-bottom: 2px solid #232323;
}
.select-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /* margin-top: 10px; */
  border-radius: 8px;
  /* border: 2px solid #9aa0ca; */
  padding: 25px;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 10px;
  color: black;
}

.select-input {
  color: black;
}
.categoriesList {
  list-style: none;
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
}
.topics-label {
  text-transform: capitalize;
}
.program-inputs {
  border-radius: 10px;
  padding-left: 10px;
}
.program-inputs-days {
  border-radius: 10px;
  padding-left: 10px;
  width: 20%;
}
.program-inputs-name {
  border-radius: 10px;
  padding: 0;
  padding-left: 10px;
  font-size: 25px;
  font-weight: 500;
  /* width: 50%; */
  height: 10%;
  border: none;
  text-align: center;
}
.course-card {
  border: 2px solid #9aa0ca;
  padding: 4px;
  border-radius: 8px;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 3px;
}
.course-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  /* border: 1px solid rebeccapurple; */
}
.create-program-course-title{
  width: 80%;
}
.topics-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 65%;
  margin: 0 auto;
  margin-top: 10px;
}

.button-edit {
  background-color: #21117e;
  border-radius: 3px;
  border: 1px solid #21117e;
  box-shadow: rgba(255, 255, 255, 0.7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans",
    sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin-top: 15px !important;
  outline: none;
  padding: 8px 0.8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
  margin-right: 5px;
}

.button-edit:hover,
.button-edit:focus {
  background-color: #b3d3ea;
  color: #21117e;
}

.button-edit:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, 0.15);
}

.button-edit:active {
  background-color: #a0c7e4;
  box-shadow: none;
  color: #2c5777;
}
.totaldays-container {
  border: 3px solid #21117e;
  padding: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 10px;
  width: 40%;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
  margin-top: 40px;
}

.duration-category {
  display: flex;
  justify-content: space-around;
  padding-left: 4px;
}


.card-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.card-cursos {


  padding: 30px;
  margin: 0 auto;
  width: 80%;


}