.bd-callout {
  border-left-color: #9aa0ca !important;
}

.bd-callout-warning {
  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border: 1px solid #e9ecef;
  border-left-width: 0.25rem;
  border-radius: 0.25rem;
  /* border: 1px solid salmon; */
  width: 80%;
}

.swal-footer {
  text-align: center;
}
.program-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;
  border: 1px solid blue;
}
.create-program-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid red; */
  width: 80%;
  /* height: 300px; */
}
.create-progra-select-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* border: 1px solid red; */
  width: 80%;
}
.programs__input{
  border: none;
  border-bottom: 2px solid black;
  font-size: 1.5em;
  padding: 10px;
  width: 100%;
  /* border: 1px solid indianred; */
}
.create-program-select{
  width: 100%;
  border: none;
  border-bottom: 2px solid black;
  font-size: 1em;
  margin: none;
  padding: 15px;
}


.add-course-program {
  background-color: #21117e !important;
  margin-top: 10px;
}