@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  box-sizing: border-box;
}
/*
body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #f7f8fc;
    font-family: "Roboto", sans-serif;
    color: #10182f;
  }*/

.containerCards {
    display: flex;
    width: 100%;
    height: 60vh;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }



.card-header img {
    width: 100%;
    height: 95%;
    object-fit: cover;
}

.card-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    min-height: 80px;
}

.button-delete {
  background-color: #e1ecf4;
  border-radius: 3px;
  border: 1px solid #7aa7c7;
  box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #39739d;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button-delete:hover,
.button-delete:focus {
  background-color: #b3d3ea;
  color: #2c5777;
}

.button-delete:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.button-delete:active {
  background-color: #a0c7e4;
  box-shadow: none;
  color: #2c5777;
}

.button-delete {
  background-color: rgb(247, 112, 112);
  border-radius: 3px;
  border: 1px solid rgb(247, 112, 112);
  box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button-delete:hover,
.button-delete:focus {
  background-color: #9aa0ca;
  color: #fff;
}

.button-delete:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.button-delete:active {
  background-color: #a0c7e4;
  box-shadow: none;
  color: #2c5777;
}

.button-edit {
    background-color: #21117e;
    border-radius: 3px;
    border: 1px solid #21117e;
    box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.15385;
    margin: 0;
    outline: none;
    padding: 8px .8em;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
    margin-right: 5px;
  }
  
  .button-edit:hover,
  .button-edit:focus {
    background-color: #9aa0ca;
    color: white;
  }
  
  .button-edit:focus {
    box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
  }
  
  .button-edit:active {
    background-color: #a0c7e4;
    box-shadow: none;
    color: #2c5777;
  }