.screen-container {
  display: flex;
  flex-direction: column;
}

.btn-new-traning {
  width: 30%;
  margin: auto 35%;
  margin: 20px auto;
  position: absolute;
  top: 30px;
  right: 20px;
  width: 20%;
}
