.screen-container {
  display: flex;
  flex-direction: column;
}

.btn-new-traning {
  width: 30%;
  margin: 0px 35%;
  /* margin: 20px auto; */
  /* position: absolute;
  top: 30px;
  right: 20px; */
  /* width: 20%; */
}

#traning__new-traning-btn {
  margin-top: -30px !important;
}
