.btn-primary{
  background-color: var(--main-color) !important;
  border-color:var(--main-color) !important; ;
}
.btn-success{
  background-color: var(--third-color) !important;
  border-color:var(--third-color) !important; ;
}