.course{
    background-color: #9aa0ca;
  }

.grid{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-template-rows: minmax(80px, auto);
  gap: 1em;
  padding: 1em;
  
  
  
}

.grid :hover{
  background-color: #9aa0ca91;
}

.grid-item{
  background-color: #9aa0ca;
  padding: 1em;
  text-align: center;
}

.paginator-buttons{
  margin:0 auto;
  display: flex;
  justify-content: center;
}