*{
  padding: 0;
  margin: 0;
  
}

*{
  margin: 0;
  padding: 0;
}

.container{
  width: 100%;
  height: 100vh;
}

.Navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: var(--navbar-height);
  background-color: rgb(155, 160, 202);
  position: fixed;
  z-index: 1;
  padding: 0 15px;
}

.Navbar h5{
  color: #fff;
  font-size: 14px;
}

.Navbar h6{
  color: aliceblue;
}

.right-side{
  display: flex;
  justify-content: space-evenly;
  gap: 15px;
  align-items: center;
  width: 30%;
}

.profile-picture{
  border-radius: 50px;
  position: relative;
  height: 30px;
  width: 30px;
  margin-right: 2%;
  margin-top: 1%;
}

.dashboard{
  display: flex;
  flex-direction: row;
}

.container_dashboard{
  display: grid;
  width: 100%;
  margin-top: calc(var(--navbar-height));
  margin-left: 18%;
  height: calc(100vh - var(--navbar-height));
  background-color: var(--white-color);
  background-size: cover;
}

.sofka-logo{
  top: -5px;
  position: relative;
}
