* {
  font-family: Helvetica, sans-serif;
  margin: 0px;
}

html,
body {
  height: 100vh;
  width: 100vw !important;
}

main {
  width: 100%;
}

.mt-5 {
  margin-top: 20px;
}

.mb-5 {
  margin-bottom: 20px;
}

.mt-3 {
  margin-top: 10px;
}

.mb-3 {
  margin-bottom: 10px;
}

.mt-1 {
  margin-top: 5px;
}

.ml-3 {
  margin-left: 10px;
}

.mb-1 {
  margin-bottom: 5px;
}

.pt-5 {
  padding-top: 20px;
}

.pb-5 {
  padding-bottom: 20px;
}

.pt-3 {
  padding-top: 10px;
}

.pb-3 {
  padding-bottom: 10px;
}

.pt-1 {
  padding-top: 5px;
}

.pb-1 {
  padding-bottom: 5px;
}

.m-1 {
  margin: 3px;
}

.p-1 {
  padding: 3px;
}

.m-2 {
  margin: 5px;
}

.p-2 {
  padding: 5px;
}

.m-3 {
  margin: 10px;
}

.p-3 {
  padding: 10px;
}

.m-5 {
  margin: 20px;
}

.p-5 {
  margin: 20px;
}

.w-6 {
  width: 60%;
  margin: auto 20%;
}

.pointer {
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.d-block {
  display: block;
}

.small {
  font-size: 0.8rem;
}

.bold {
  font-weight: 600;
}

.text {
  width: 100%;
  text-align: center;
}

.general__input {
  width: 80%;
}

.general__main-container {
  /* background-color: red; */
  width: 100%;
}

.general__form {
  padding: 10px;
  /* background-color: green; */
}

.general__input-form {
  margin-top: 60px;
  /* background-color: red;
  border: 3px solid blue; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.general__select-form {
  margin-top: 60px;
  /* background-color: red;
  border: 3px solid blue; */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
}

.general__output-form {
  /* background-color: blue; */
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.general__input-form-name {
  justify-content: space-evenly;
}

.section__title {
  display: block;
}

.section__decoration {
  content: "";
  display: block;
  width: 400px;
  height: 5px;
  background: #40bad5;
  margin: 20px auto 30px;
}

.general__select-input {
  border: none;
  border-bottom: 2px solid black;
  font-size: 1em;
  padding: none;
  margin: none;
  padding: 15px;
  width: 90%;
  height: 100%;
}

.general__input-coaches {
  margin-bottom: -36px;
  height: 57px;
}

.general__date-input {
  width: 70%;
}

.general__btn-submit {
  width: 120px;
  height: 38px;
  background-color: #0d6efd;
  color: white;
  border: 2px solid transparent;
  border-radius: 3px;
}

.general__btn-submit:focus {
  outline: none;
  border: 1px solid white;
}

.general__categoria,
.general__starting-date {
  width: 300px;
}

.general__input {
  border: none;
  border-bottom: 2px solid black;
  font-size: 1.5em;
  padding: 10px;
}

.general__input-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
}

.general__input-label {
  padding: 15px 0px;
  font-size: 1.2em;
}

.general__btn-upload {
  padding: 15px;
}

.general__coach-list {
  /* margin-top: 20px;
  width: 100%; */
}

.general__coach-selected {
  min-width: 300px;
  overflow-wrap: wrap;
  /* border: 1px solid red; */
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-delete-coach {
  width: 20%;
}

.general__table-apprentices {
  width: 300px;
}

.general__table-container {
  max-width: 1000px;
}

.general__table-apprentices {
  outline: 1px solid darkgray;
  margin-bottom: 100px;
}

.general__alert-primary {
  width: 60%;
  margin: auto 20%;
}

.general__grid {
  width: 90%;
  margin: auto 5%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
}

.general__item {
  background: white;
  position: relative;
  object-fit: cover;
  overflow: hidden;
  font-size: 14px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.general__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: all 1s;
  filter: grayscale(0.5);
}

.general__description {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  top: 300px;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: all 0.5s;
  z-index: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.general__item:hover .general__description {
  visibility: visible;
  opacity: 1;
  transition: all 0.5s;
  transform: translateY(-300px);
}

.general__item:hover .general__img {
  transition: all 1s;
  transform: scale(1.3);
}

.general__description--title {
  text-align: center;
  color: #fff;
  font-size: 1.3em;
  font-weight: bold;
  margin-top: -50px;
}

.general__description--subtitle {
  font-size: 1.1em;
  margin-top: -10px;
  color: aliceblue;
}

.general__description--text {
  margin: 10px 0;
  color: red;
}

.porfolio__tech-images {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

.general__tech-image {
  width: 10%;
  margin: 20px 5px;
}

.general__program-selected {
  font-size: 30px;
  position: absolute;
  top: 5px;
  right: 10px;
  color: #40bad5;
}

.program-main-container {
  border-radius: 8px;
  box-shadow: rgba(205, 204, 208, 0.659) 2px 3px 10px 2px;
}

.bd-callout {
  border-left-color: #9aa0ca !important;
}
.bd-callout-warning {
  border: 1px solid #e9ecef;
  border-left-width: 0.25rem;
  width: 80%;
  box-shadow: rgba(205, 204, 208, 0.659) 1px 3px 10px 2px;
  border-radius: 8px;
  margin-bottom: 15px;
}
.screen-container {
  display: flex;
  flex-direction: column;
}

.btn-new-traning {
  width: 30%;
  margin: auto 35%;
}

.title-container {
  width: 80%;
  margin: 10px 10%;
}

.general__csv-div {
  display: flex;
  flex-direction: column;
}

.general__file-input {
  padding-top: 100px;
  width: 100%;
  margin: auto auto;
  height: 120px;
  margin-top: 0%;
  padding: 0px;
}

.btn-new-traning {
  margin: 20px auto;
  position: absolute;
  top: 30px;
  right: 20px;
  width: 20%;
}

.top-image{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}