.message_span{
  font-size: 10px;
  /* border: 1px solid rgb(255, 0, 0) ; */
  border-radius: 5px;
  /* padding: 10px; */
  color: red
}
.message{
  text-align: center;
  line-height: 10px;
  /* width: 100%; */
  /* padding: 3px; */
  
  
  /* background-color: rgb(255, 68, 68); */
  /* border-radius: 5px; */
  /* color: red */
}
