

.training-card{
    margin-top: 80px;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,217,255,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,217,255,0);
    background: #FFFFFF;
    height: 180px;
    width: 200px;
}


.img-training{
    width: 200px;
    height: 100px;
}

.link-type{
    text-decoration: none;
    color: black;
        
}
