
.flex_column_center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex_row_center{
  display: flex;
  
  justify-content: center;
  align-items: center;
}