:root {
  --main-color: #21117e;
  --secondary-color: #9aa0ca;
  --third-color: #60c4dc;
  --white-color: #fff;
  --black-color: #000;
  --navbar-height: 60px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'DM Sans', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


